@import "tailwindcss";
@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

@theme {
    --color-primary: #4f46e5;
    --color-primary-dark: #6366f1;
    --color-background-light: #f9fafb;
    --color-background-dark: #0f172a;
    --color-surface-light: #ffffff;
    --color-surface-dark: #1e293b;
    --color-border-light: #e2e8f0;
    --color-border-dark: #334155;

    --font-display: "Inter", "sans-serif";
    --font-body: "Inter", "sans-serif";

    --radius-DEFAULT: 0.5rem;
}

/* Define custom variant for class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: var(--font-body);
}
